<br><br>
<div class="row">
  <div class="pagination-centered">
    <div class="container">
      <p class="text-center">
        Hey <%= @user.username %>! Above you can find your current pack, create a new member, and, in time, see the history of your pack! Just start clicking and everything should get quite clear; if you have questions, feel free to check out the FAQs!
      </p>
    </div>
  </div>
</div>

