<br><br>
<div class="row">
  <div class="pagination-centered">
    <div class="container">
      <p class="text-center">
        Hey <%= @user.username %>! To start the game, go to Create Pack and choose the name of your Alpha male and Alpha female.
      </p>
    </div>
  </div>
</div>

